
@import url(//fonts.bunny.net/css?family=Bubblegum+Sans);

body {
    font-family: 'Bubblegum Sans', sans-serif;
    font-size: 11pt;
}

h1 {
    font-size: 28pt;
    margin: 14pt;
    text-align: center;
}

#meatoptions {
    font-size: 14pt;
    text-align: center;
}

.meatoption {
    margin: 0 0.5em;
}

.meatoption label {
    padding: 0 0.5ex;
}

.vegetarian {
    position: relative;
}

.vegetarian .disclaimer {
    display: block;
    opacity: 0;
    position: absolute;
    left: -3em;
    width: 12em;
    color: #666;
    font-size: 75%;

    /* For opacity animation on hover */
    transition: opacity .3s ease-in-out;
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    -ms-transition: opacity .3s ease-in-out;
}

.vegetarian:hover .disclaimer {
    opacity: 1;
}



#meatimagecontainer {
    width: 400px;
    height: 400px;
    margin: 90px auto;
}

#spincounter {
    text-align: center;
    font-size: 18pt;
    position: relative;
}

#spincountertext {
    display: block;
    position: relative;
    transition: transform .2s;
    -webkit-transition: -webkit-transform .2s;
}

#spincountertext.changed {
    transform: translate(0,-40px);
    -webkit-transform: translate(0,-40px);
}


#meatimage {
    animation: spinthemeat 1s linear infinite;
    -webkit-animation: spinthemeat 1s linear infinite;
}

@keyframes spinthemeat {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spinthemeat {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}
