
@import url(http://fonts.googleapis.com/css?family=Bubblegum+Sans);

body {
	font-family: 'Bubblegum Sans', sans-serif;
	font-size: 11pt;
}

h1 {
	font-size: 32pt;
	margin: 1em;
	text-align: center;
}

#meatimage {
	width: 400px;
	height: 400px;
	margin: 83px auto;
}

#spincounter {
	text-align: center;
	font-size: 24pt;
	position: relative;
}

#spincountertext {
	display: block;
	position: relative;
}